body {
    margin: 0px;
}

.background {
    height: 850px;
    width: 500px;
    background-image: url(/home/youssra/Downloads/eugene-golovesov-unsplash.jpg);
    position: absolute;
}

.transparent {
    height: 150px;
    width: 500px;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    margin-top: 150px;

}


.logo {
    height: 133px;
    width: 100px;
    background-image: url(/home/youssra/Pictures/odin-lined.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin-left: 50px;
    margin-top: 10px;
}    

@font-face {
    font-family: "Norse-Bold";
    src: url(/home/youssra/Downloads/Norse-Bold.woff) format("woff");
}


.title {
    font-size: 5rem;
    color: white;
    font-family: "Norse-Bold", monospace;    
    position: absolute;
    margin-left: 170px;
    margin-top: 30px;
}

.container {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 550px;   
    margin-top: 80px; 
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 600;
}